$borderColor: gray;

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-main-block {
    border: 2px solid $borderColor;
    width: 65vw;
    height: max-content;
    margin: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-post {
    border: 1px solid $borderColor;
    width: 35vw;
    margin: 1em;
}

.content-post-title {
    margin: .2em;
}

.content-post-description {
    margin: 0.5em;
}

.content-addPost-button
    {
    border: none;
    background-color: rgb(23, 127, 201);
    color: white;
    padding: 1em;
    width: 7em;
    border-radius: 100px;
    cursor: pointer
}

.content-addPost-button:hover {
    background-color: rgb(22, 83, 126);
}

.content-addPost {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    textarea {
        width: 65vw;
        height: 10vh;
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 20vw;
        height: 3vh;
        margin-bottom: 10px;
    }

    button {
        margin-left: auto;
    }
}

.addPostButton {
    border: none;
    outline: none;
}

.message-image{
    width: 90%;
    height:90%;
    padding:10px;

}