@media (min-width: 1281px) {
    .navbar-main {
        display: flex;
        margin: 0;
        height: 4em;
    }

    .navbar-mobile-toggle-container {
        display: none;
    }
}

.navbar-categories {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 1rem;

    div {
        color: white;
        background-color: #0369a1;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        padding: 1.1rem;
    }
}

.bold {
    font-weight: bold;
}

.not-bold {
    font-weight: lighter;
}

.navbar-main {
    background-color: #0369a1;
    margin: 0;
    list-style-type: none;
}

.navbar-login {
    margin-left: auto;
}

.navbar-login-button {
    margin: 1rem;
    color: white;
    background-color: #0284c7;
    border: none;
    padding: .8em 1.4em .8em 1.4em;
    border-radius: .5em;
    cursor: pointer;

    &:hover {
        background-color: #0e5274;
    }
}

.navbar-logo {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    left: 0;
}