.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #312e81;
    width: clamp(30%, 500px, 70%);
    height: min(70%, 700px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin-top: 25px;
    width: 30%;
    background-color: #00fff77a;
    color: #080710;
    padding: 15px 0;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #312e81;
    color: white;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    outline: none;
}