.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10
}

.login-modal {
    background-color: #312e81;
    width: clamp(30%, 500px, 70%);
    height: min(70%, 700px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.login-button {
    margin-top: 25px;
    cursor: pointer;
}

.login-input {
    color: white;
    margin-top: 8px;
    margin-bottom:8px;
    font-size: 20px;
    outline: none;
}